$colors-primary-darkest: #002550;
$colors-primary-dark: #025a9a;
$colors-primary-default: #00aeff;
$colors-primary-light: #61cdff;

$colors-neutral-100: #020203;
$colors-neutral-200: #0b0d12;
$colors-neutral-300: #15171b;
$colors-neutral-400: #1f2025;
$colors-neutral-500: #26272e;
$colors-neutral-600: #2d2f38;
$colors-neutral-700: #363842;

$colors-pure-white: #ffffff;
$colors-pure-black: #000000;
